name: OpenWrt-CI

on:
  push:
    branches:
      - master
  watch:
    types: started

env:
  SDK_URL: https://downloads.openwrt.org/snapshots/targets/ramips/mt7621/openwrt-sdk-ramips-mt7621_gcc-8.4.0_musl.Linux-x86_64.tar.xz
  SDK_NAME: openwrt-sdk-ramips-mt7621_gcc-8.4.0_musl.Linux-x86_64
  package_URL: https://github.com/Hey-Leo/gdr.git

jobs:

  Make:

    name: make through SDK

    runs-on: ubuntu-latest

    if: github.event.repository.owner.id == github.event.sender.id

    steps:

      - name: Checkout
        uses: actions/checkout@main

      - name: 拉取SDK
        run: |
          wget -c $SDK_URL

      - name: 解压
        run: |
          tar xvf *.tar.xz

      - name: update & install feeds
        run: |
          cd $SDK_NAME
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: 克隆源码
        run: |
          cd $SDK_NAME
          git clone $package_URL package/mine

      - name: update & install feeds again & make defconfig
        run: |
          cd $SDK_NAME
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          make defconfig

      - name: 开始编译
        run: |
          cd $SDK_NAME
          make package/mine/compile

      - name: 准备ipk以及相应依赖
        run: |
          cd $SDK_NAME
          mkdir -p ../artifact/bin
          cp -pR ./bin/ ../artifact/bin/

      - name: 上传ipk
        uses: actions/upload-artifact@main
        with:
          name: package
          path: ./artifact/bin/
